body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("https://github.com/stlefebvre/Basic-Portfolio/blob/master/assets/images/Background/spiration%20light/spiration-light.png?raw=true");
}

/*Change Name to be a block within the header, which must have white background*/
.NameHeader {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    width: 33.3%;
    margin: 0 auto;
}

.SubHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

/*Watch Student Bio video, use ruler tool listed in homework to measure length */
.AboutMe {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    width: 1024px;
    margin: 0 auto;
    background-color: #ffffff;
    line-height: 32px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
}
/*Find a way to line top of picture up with top of text*/
.ProfilePicture {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}