body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("https://github.com/stlefebvre/Basic-Portfolio/blob/master/assets/images/Background/spiration%20light/spiration-light.png?raw=true");
}

.Header {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-bottom: solid;
    border-color: #dddddd;
    border-width: 1px;
    /*width: 1024px;
    margin: 0 auto;*/
}

/*Review display: block definition*/

.Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    display: block;
    width: 21%;
    padding: 5px;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
    bottom: 0%;
}

.SubHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-bottom: 30px;
    border-bottom: solid;
    border-color: #dddddd;
    border-width: 3px;
}

/*Watch Student Bio video, use ruler tool listed in homework to measure length */
.AboutMe {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    width: 1024px;
    margin: 0 auto;
    background-color: #ffffff;
    line-height: 32px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 35px;
}
/*Find a way to line top of picture up with top of text*/
.ProfilePicture {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}